@import url("container.css");
@import url("avatar.css");
@import url("buttons.css");

body{
  padding-bottom: 200px;
  margin: 0;
  background-color: rgb(240, 240, 240);
}

.text-center {
  text-align: center;
}
